/**
 * Calendar
 */

.calendar {
  width: 30rem;
  margin: 3rem auto;
  padding-bottom: 1.5rem;

  &.--editMode {
    background: rgba(128, 255, 255, .3);
  }

  &__mode {
    text-align: right;

    select {
      display: inline-block;
      margin: 0 .75rem;
    }
  }

  &__control {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: .75rem;
  }

  &__prev, &__next {
    display: block;
    width: 4.5rem;
    font-size: 87.5%;
    text-align: center;
  }

  &__view {
    margin: auto;

    tr {
      border-bottom: 1px solid #999999;

      &:first-child {
        border-top: 1px solid #999999;
      }
    }

    th, td {
      width: 60px;
      height: 45px;
      border-right: 1px solid #999999;
      text-align: center;

      &:first-child {
        border-left: 1px solid #999999;
        color: red;
      }
    
      &:last-child {
        color: blue;
      }
    }

    td {
      &[data-state="0"] {
        background: rgba(255, 128, 128, .5);
      }
    
      &[data-state="1"] {
        background: rgba(255, 255, 128, .5);
      }
    
      &[data-state="2"] {
        background: rgba(128, 255, 128, .5);
      }
    }
  }
}
