/**
 * Normarize
 */

*,
*::before,
*::after {
   box-sizing: border-box;
}

html {
  font-size: 16px;

  @media (max-width: $breakpointSm - 0.1px) {
    font-size: 3.84vw;
  }
}
 
body {
  margin: 0; // Remove the margin in all browsers
  background-color: $bodyBg;
  color: $bodyColor;
  font-family: "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 500;
  -webkit-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in iOS
}

a {
  color: $bodyColor;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  display: block;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

button, input, select, textarea {
  font: inherit;  // Change the font styles in all browsers
}
